<h1>Login</h1>
<form action="/login" method="POST">
    <div>
        <label for="email">Email</label>
        <input required type="email" name="email" id="email" placeholder="example@mail.com">
    </div>
    <div>
        <label for="password">Password</label>
         <input required type="password" name="password">
    </div>
    <button type="submit">Submit</button>
</form>